@import "tailwindcss";

/* --------------------------- */

::-webkit-scrollbar {
  width: 0px;
}

/* --------------------------- */

.glass-navbar {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(13px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

/* --------------------------- */

.user-profile {
  width: 104px;
  height: 44px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    #2e8eff 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(46, 142, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile:hover,
.user-profile:focus {
  background-color: rgba(46, 142, 255, 0.7);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
}

.user-profile-inner {
  width: 100px;
  height:40px;
  border-radius: 13px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #fff;
  font-weight: 600;
}

.user-profile-inner svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

/* --------------------------- */

.user-profile-2 {
  width: 106px;
  height: 46px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    #2e8eff 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(46, 142, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile-2:hover,
.user-profile-2:focus {
  background-color: rgba(46, 142, 255, 0.7);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
}

.user-profile-inner-2 {
  width: 102px;
  height:42px;
  border-radius: 13px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #fff;
  font-weight: 600;
}

.user-profile-inner-2 svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

/* --------------------------- */

.glass-effect {
  background: rgba(245, 247, 250, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  border-radius: 12px;
}

/* --------------------------- */
